services:

  metalp:
    build:
      context: hosts/metalp.epfl.ch
    volumes:
      - metalp-webshare:/var/www/html:ro
      - ./hosts/metalp.epfl.ch/php.ini:/usr/local/etc/php/php.ini:ro
      - ./hosts/metalp.epfl.ch/ssmtp.conf:/etc/ssmtp/ssmtp.conf:ro
      - ./hosts/metalp.epfl.ch/revaliases:/etc/ssmtp/revaliases:ro
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.metalp.tls=true"
      - "traefik.http.routers.metalp.rule=PathPrefix(`/`)"
      - "traefik.http.routers.metalp.rule=Host(`metalp.epfl.ch`)"

volumes:
  metalp-webshare:
    driver: local
    driver_opts:
      type: cifs
      o: addr=enac1files.epfl.ch,username=${USER_ENACIT_WEBHOSTING_USERNAME},domain=${USER_ENACIT_WEBHOSTING_DOMAIN},password=${USER_ENACIT_WEBHOSTING_PASSWORD},ro
      device: "//enac1files.epfl.ch/LASUR/web/metalp.epfl.ch/"
